@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<div style="height: 500px;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Fluent UI Components</h3></Header>
        <Body>
            <div style="margin:50px;">
                @Body
            </div>
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>
