@page "/"

@rendermode InteractiveServer
@inject BudgetApiClient BudgetApiClient

<PageTitle>Home</PageTitle>

<select class="form-control">
    @foreach (var cat in categories)
    {
        <option id="@cat.Id">@cat.Name</option>
    }
</select>

@code {
    List<ExpenseCategory> categories = new List<ExpenseCategory>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshDataAsync();
    }
    private async Task RefreshDataAsync()
    {
        categories = await BudgetApiClient.GetCategoriesAsync();
    }
}
